h2{
    color: brown;
    font-size: 32px;
    text-align: center;


}
p{
    color: darkgreen;
    text-align: center;
    font-size: 22px;
    margin: 20px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: brown;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 400;
    color: blue;
    text-decoration: none;

}
.navbar .menu {
    margin: 0 8px;
    display: flex;
    position: relative;
}
.navbar .menu li{
    list-style: none;
    margin: 0 8px;

}
.navbar .menu a{
    font-size: 18px;
    font-weight: 500;
    color: blue;padding: 6px 0;
    text-decoration: underline;

}
.navbar .menu
.home{
    width: 100%;
    height: 100vh;
    background-image: url("united.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;


}
.home .home-content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .text-one{
    font-size: 25px;
    color: blue;
}
.home .text-two{
    font-size: 75px;
    color: brown;
    font-weight: 600;
    margin-left: -3px;

}
.home .text-three{
    font-size: 40px;
    margin: 5px 0;
    color: darkgreen;
}
.home .text-four{
    font-size: 23px;
    margin: 5px 0;
    color: brown;
}
.home .button{
    margin: 14px 0;
}
.home .button button{
    padding: 8px 16px;
    outline: none;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background-color: blue;
    cursor: pointer;
    border: 2px solid transparent;
}
.home .button button:hover{
    border-color: blue;
    background-color: white;
    color: blue;
}